# AWS Credentials (preferably use IAM roles or AWS credentials file)
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
AWS_REGION="your-aws-region"

# AWS Bedrock
BEDROCK_MODEL_ID=arn:aws:bedrock:us-east-1:514329541303:inference-profile/us.anthropic.claude-3-5-haiku-20241022-v1:0
BEDROCK_MODEL_REGION=us-east-1
MAX_TOKENS=8192